<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:requiredNotFeature="true"
        tools:ignore="UnusedAttribute" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:requiredNotFeature="true"
        tools:ignore="UnusedAttribute" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true">

<!--        android:manageSpaceActivity=".clear_data.ClearDataActivity"-->

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

<!--        <activity-->
<!--            android:name=".clear_data.ClearDataActivity"-->
<!--            android:theme="@style/DarkBlueStatusBar" />-->

        <activity
            android:name=".main_activity.MainActivity"
            android:theme="@style/Theme.App.Starting"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <receiver-->
<!--            android:name=".widgets.WeatherWidget"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/weather_widget_info" />-->
<!--        </receiver>-->

<!--        <activity-->
<!--            android:name=".widgets.WidgetConfigureActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


<!--        ca-app-pub-2375349794400927~5731013212-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2375349794400927~5731013212"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>